/* write your css here */

  @import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@500&family=Lato:ital,wght@1,400;1,700&family=Merriweather+Sans:ital,wght@0,400;1,600&family=Merriweather:ital@1&family=Noto+Sans:ital@1&family=Open+Sans:wght@300&family=Phudu:wght@500&display=swap');

*{
    margin: 0;padding: 0;box-sizing: border-box;

}

body{
    min-height: 100vh;
    /* font-family: poppins; */

}
.title{
    font-size: 3rem;
    margin: 6vh;
    border: 7px dashed rgb(1,17,168);
    border-radius: 20px ;
    padding: 1vh 5vw;
}
.container{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column ;  
}
.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1300px;
    margin: 0 auto;
}
.card{
    width: 400px;
    height: max-content;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
     
    /* overflow: hidden; */
}
.image
{
    width: 380px;
    height: 350px;
    /* overflow: hidden; */
    /* height: 380px; */
    /* aspect-ratio: 1/1; */
    object-fit: cover;

}
.tour-info{
   
}
.tour-details{
   margin-top:0.5rem;
   margin-bottom: 0.2rem;

}
.tour-price{
    color: #1faa59;
    font-size: 1.3rem;
}
.tour-name{
    font-size:1.5rem;
}
.description{

}
.read-more{
    color:#12b0e8
    
}
.read-more:hover{
    cursor: pointer;
    
}
.btn-red{
    margin-top: 18px;
    padding: 10px;
    border: 1px solid #b4161b;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    background-color: #b4161b21;
    border-radius: 10px;
    transition: all 0.2s;

}
.btn-red:hover{
     background-color: red;
     color: white;
     

}
.refresh{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.btn-white{
   all: unset;
   cursor: pointer;
   margin-top: 18px;
   padding: 10px 10px;

 transition: all 0.2s;

}
.btn-white:hover{
    background-color: white;
    color: black;

}
